@import '../../index.scss';
.content-card{
    background-color: white;
    padding: 40px;
    border-radius: 16px;
}
.eyebrow {
    font-family: "Barlow-Bold";
}
.image {
    margin-top: 40px;
}
.title {
    margin-top: 40px; 
}
.description {
    margin-top: 20px;
    margin-bottom: 45px;
}