@import '../../index.scss';

.customizer{
    display: block;
    width: 100%;
    color: var(--text-color);
    font-family: "Quincy";
    font-size: 48px;
    line-height: 72px;

    input {
        background: none;
        border: none;
        font-size: 48px;
        font-family: 'Quincy';
        color: var(--text-color);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 3px;
    }

    .greeting {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .slash {
        margin:0px 50px;
        font-size: 80px;
    }

    .palette, .background {
        margin-right: 32px;
    }
}

.circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin:0px 12px;

    &.active {
        border: 2px solid #40381A;
    }
}