@import '../../index.scss';

.wrapper {
  background: url(../../assets/svg/footer-waves-piece.svg);
  height: 170px;
  margin-top: 92px;

  width: 100vw;
  
  left: calc(-50vw + 50%);
  right: 0;
}

.footer {
  padding-top: 100px;
  margin-bottom: 20px;
  display: block;
  
  @media (min-width:1025px) {
      display: flex;
  }

  .item {
    display: flex;
    align-items: flex-start;

    &:nth-child(2) {
    justify-content: center;
    }

    &:nth-child(3) {
      justify-content: flex-end;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}

